@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: #405b5e;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

h1{
    position: relative;
}
h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0%;
    background-color: rgb(255, 255, 255);
    transition: all ease-in 0.6s;
}
h1:hover::after{
    width: 101%;
    margin: -6px;
}
.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 50vh;
    background-color: black;
    color: rgb(255, 255, 255);
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 85%;
   border-radius: 12px;
   padding: 44px;
   background-image: url('bg.png');   
   animation: myAnim 0.1s cubic-bezier(0.61, 1, 0.88, 1) 0s 0.2 normal forwards;
   filter: saturate(150%);
}
@keyframes container {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
    background-color: brown;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 55px;
    display: flex;
    background-color: #849da0 ;
    
    color: rgb(0, 0, 0);
    margin: 3% 4px;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    box-shadow: 5px 5px 2px 1px rgb(0, 16, 243);
    transition: all 0.3s;
}
.songItem:hover{

    box-shadow: -5px 5px 2px -1px rgb(99, 196, 252);
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }
  .container{
	-webkit-animation: container 5s ease-out both;
	        animation: container 5s ease-out both;
}
